<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Отправка данных</title>
</head>
<body>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      window.location.href = "https://mangalib.me/";
    });
  </script>
</body>
</html>